.Contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:40px;

}
.Contact h1{
    color: aliceblue;
}
.Contact-info{
    display: flex;
    flex-direction: column;
    gap: 40px;
    color: blueviolet;
    width: 400px;
}
.Contact-submit{
   margin-left: 43%;
    width: 100px;
}