.App {
  font-family: Arial, sans-serif;
  text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  
}

.App-header {
  color: rgb(20, 19, 19);
  font-size: 30px;
  border-bottom: 30px;
  margin-bottom: 50px;
  margin-top:50px;
}

.App-header h1 {
  margin: 0;
}
